body {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
  color: #707070;
  padding: 3rem;
  box-sizing: border-box; }

h1 {
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
  color: #707070; }

nav {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #af4444; }

.address {
  color: #af4444; }

.text {
  color: #548160; }

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: grid;
  grid-template-areas: "nav title" "picture picture" "side main"; }
  @media screen and (max-width: 740px) {
    body {
      grid-template-areas: "title" "nav" "picture" "picture" "main" "side"; } }

header {
  margin-top: 3rem; }
  header nav {
    display: inline-block;
    grid-area: nav;
    transform: translateY(50%);
    text-transform: uppercase; }
    header nav ul {
      list-style-type: none; }
      header nav ul li {
        display: inline;
        padding: 3rem; }
        header nav ul li:hover {
          padding-bottom: 0;
          border-bottom-style: solid;
          border-bottom-width: 1px;
          border-bottom-color: #af4444; }
  header h1 {
    grid-area: title;
    float: right;
    margin-right: 3rem; }

.picture {
  clear: both;
  width: 100%;
  overflow: hidden;
  margin: 0;
  grid-area: picture; }
  .picture img {
    width: 100%;
    display: block;
    margin: -21.875% 0; }

section {
  display: inline-block;
  width: 100%;
  margin: 2rem 3rem;
  margin-top: 10vh; }
  section .address {
    float: left;
    width: 20%;
    grid-area: side; }
    section .address::first-line {
      text-transform: uppercase;
      margin-bottom: 0.5rem; }
  section main {
    float: right;
    margin-right: 6rem;
    max-width: 70%;
    grid: main; }

footer {
  display: block;
  text-align: center; }
  footer p {
    margin-top: 5vh; }
