body {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: $font-size;
  line-height: 1.7;
  color: $color-gray;
  padding: 3rem;

  box-sizing: border-box;
}
a {
  color: inherit;
}
h1 {
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
  color: $color-gray;
}

nav {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: $color-red;
}
nav a {
  text-decoration: none;
}

.address {
  color: $color-red;
}

.text {
  color: $color-green;
}
